html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #84fab0, #8fd3f4);
    animation: gradientAnimation 10s infinite alternate-reverse;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 130px repeat(4, 52px);
    gap: 13px;
    width: 50%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.result {
    grid-column: span 4;
    background-color: #fff;
    text-align: right;
    padding: 15px; 
    font-size: 1.8em; 
    overflow: hidden;
    animation: slideIn 0.5s ease-in-out;
}

.card {
    background-color: #ffc0cb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #ff69b4;
}

.cards {
    background-color: #7fffd4;
    transition: transform 0.2s ease-in-out;
    font-size: 1.8em; 
    cursor: pointer;
}

.cards:active {
    transform: scale(0.95);
}

.operator {
    background-color: #87ceeb;
    transition: transform 0.2s ease-in-out;
}

.operator:active {
    transform: scale(0.95);
}

.submit {
    background-color: #ffebcd;
    transition: transform 0.2s ease-in-out;
}

.submit:active {
    transform: scale(0.95);
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.clear {
    background-color: #ff6347;
    font-size: 1.8em;
}

.clear:active {
    transform: scale(0.95);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}


.history {
    margin-top: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
    max-height: 150px;
    animation: fadeInUp 0.5s ease-in-out;
}

.history li {
    list-style: none;
    margin: 5px 0;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
